<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>tests/guard/.clang-format</title>
</head>
<body>
<!-- BEGIN SCAT CODE -->
BasedOnStyle:&nbsp;LLVM<br>
TabWidth:&nbsp;4<br>
IndentWidth:&nbsp;4<br>
ContinuationIndentWidth:&nbsp;4<br>
ObjCBlockIndentWidth:&nbsp;4<br>
NamespaceIndentation:&nbsp;All<br>
BreakBeforeBraces:&nbsp;Allman<br>
FixNamespaceComments:&nbsp;false<br>
AccessModifierOffset:&nbsp;-4<br>
AllowShortFunctionsOnASingleLine:&nbsp;Empty<br>
BinPackArguments:&nbsp;false<br>
BinPackParameters:&nbsp;false<br>
<!-- END SCAT CODE -->
</body>
</html>
